Q1. Explain the key features of Python that make it a popular choice for programming?

Ans:- Python's popularity as a programming language stems from several key features:

1.	Readability and Simplicity: Python's syntax is clear and straightforward, which makes it easy to read and write. This simplicity encourages good programming practices and helps new programmers learn quickly.


2.	Versatility: Python is a multi-paradigm language that supports procedural, object-oriented, and functional programming. This flexibility allows developers to choose the best approach for their specific tasks.

3.	Extensive Libraries and Frameworks: Python boasts a vast ecosystem of libraries and frameworks, such as NumPy, pandas, TensorFlow, Flask, and Django, which facilitate various tasks from data analysis to web development and machine learning.

4.	Community Support: Python has a large and active community, which means abundant resources, documentation, and third-party modules are available. This community support helps troubleshoot issues and fosters collaboration.

5.	Cross-Platform Compatibility: Python can run on various operating systems, including Windows, macOS, and Linux. This portability makes it a great choice for developing cross-platform applications.

6.	Dynamic Typing: Python uses dynamic typing, which allows developers to write less code and be more flexible. Variables can change type, making the language adaptable and reducing the need for verbose declarations.

7.	Strong Integration Capabilities: Python can easily integrate with other languages (like C, C++, and Java) and technologies (like REST APIs), making it suitable for various applications and environments.

8.	Robust Data Handling: With libraries like pandas and NumPy, Python excels in data manipulation and analysis, making it a favourite for data science and machine learning projects.

9.	Rapid Development: The combination of simplicity and powerful libraries allows developers to build and iterate on projects quickly, making Python ideal for startups and prototyping.

10.	Support for Automation: Python is often used for scripting and automation tasks, which can streamline workflows and reduce repetitive tasks in various fields.

These features contribute to Pythonâ€™s strong adoption across diverse domains, from web development to data science and beyond.

Q2. Describe the role of predefined keywords in Python and provide examples of how they are used in a program?

Ans:- In Python, predefined keywords are special identifiers that have specific meanings and cannot be used as variable names or identifiers. These keywords define the syntax and structure of the Python language, enabling developers to write clear and effective code.
Here are some important roles of predefined keywords in Python, along with examples:
1.	Control Flow
Keywords like if, elif, else, for, and while control the flow of execution in a program.
Example:

In [2]:
age = 18

if age < 18:
 	   print("You are a minor.")
elif age == 18:
    print("You are just an adult.")
else:
    print("You are an adult.")

You are just an adult.

2.	Function Definition
The def keyword is used to define functions.
Example:

In [3]:
def greet(name):
    return f"Hello, {name}!"

print(greet("Alice"))

Hello, Alice!

3.	Class Definition
The class keyword is used to define new classes.
Example:

In [8]:
class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        return f"{self.name} says hello!"

dog = Animal("Dog")
print(dog.speak())

Dog says hello!

4.	Exception Handling
Keywords like try, except, finally, and raise are used for handling exceptions.
Example:

In [9]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("You can't divide by zero!")
finally:
    print("This block always executes.")

You can't divide by zero!
This block always executes.

5. Data Structures
Keywords like list, dict, and set are often associated with the creation of built-in data structures.

Example:

In [10]:
my_list = [1, 2, 3, 4]
my_dict = {"key": "value"}

print(my_list)
print(my_dict)

[1, 2, 3, 4]
{'key': 'value'}

6. Logical Operations
Keywords like and, or, and not are used to perform logical operations.

Example:

In [11]:
x = True
y = False

if x and not y:
    print("Condition is True")

Condition is True

7. Importing Modules
The import keyword is used to include external modules.

Example:

In [12]:
import math

print(math.sqrt(16))

4.0

Q3. Compare and contrast mutable and immutable objects in Python with examples?
Ans:- In Python, objects can be categorized as mutable or immutable based on whether their state or value can be changed after they are created. Hereâ€™s a comparison of the two, along with examples:
Mutable Objects
Definition: Mutable objects can be changed or modified after they are created. This means you can alter their contents without creating a new object.
Examples of Mutable Objects:
â€¢	Lists
â€¢	Dictionaries
â€¢	Sets
Example of a Mutable Object (List):

In [13]:
# Creating a list
my_list = [1, 2, 3]

# Modifying the list
my_list.append(4)  # Adding an element
print(my_list)  # Output: [1, 2, 3, 4]

my_list[0] = 10  # Changing an existing element
print(my_list)  # Output: [10, 2, 3, 4]

[1, 2, 3, 4]
[10, 2, 3, 4]

Immutable Objects
Definition: Immutable objects cannot be changed or modified after they are created. Any modification results in the creation of a new object.
Examples of Immutable Objects:
â€¢	Strings
â€¢	Tuples
â€¢	Frozensets
Example of an Immutable Object (String):

In [14]:
# Creating a string
my_string = "Hello"

# Attempting to modify the string
# my_string[0] = "h"  # This will raise an error: TypeError

# Instead, creating a new string
new_string = "h" + my_string[1:]  # Creating a new modified string
print(new_string)  # Output: "hello"

hello

Q4. Discuss the different types of operators in Python and provide examples of how they are used.
Ans:- Python supports various types of operators that allow you to perform different kinds of operations. Hereâ€™s an overview of the main types of operators, along with examples of how they are used:
1.	Arithmetic Operators
These operators are used to perform mathematical operations.
Operator	Description	Example
+	Addition	5 + 3 â†’ 8
-	Subtraction	5 - 3 â†’ 2
*	Multiplication	5 * 3 â†’ 15
/	Division	5 / 2 â†’ 2.5
//	Floor Division	5 // 2 â†’ 2
%	Modulus	5 % 2 â†’ 1
**	Exponentiation	2 ** 3 â†’ 8
2.	Comparison Operators
These operators compare two values and return a Boolean result (True or False).
Operator	Description	Example
==	Equal to	5 == 5 â†’ True
!=	Not equal to	5 != 3 â†’ True
>	Greater than	5 > 3 â†’ True
<	Less than	5 < 3 â†’ False
>=	Greater than or equal	5 >= 5 â†’ True
<=	Less than or equal	5 <= 3 â†’ False

3.	Logical Operators
These operators are used to combine conditional statements.
Operator	Description	Example
and	Logical AND	(True and False) â†’ False
or	Logical OR	(True or False) â†’ True
not	Logical NOT	not True â†’ False

4.	Assignment Operators
These operators are used to assign values to variables.
Operator	Description	Example
=	Assign	x = 5
+=	Add and assign	x += 2 (equiv. to x = x + 2)
-=	Subtract and assign	x -= 2
*=	Multiply and assign	x *= 2
/=	Divide and assign	x /= 2
%=	Modulus and assign	x %= 2
5.	Bitwise Operators
These operators perform operations on bits.
Operator	Description	Example
&	Bitwise AND	5 & 3 â†’ 1
`	`	Bitwise OR
^	Bitwise XOR	5 ^ 3 â†’ 6
~	Bitwise NOT	~5 â†’ -6
<<	Left Shift	5 << 1 â†’ 10
>>	Right Shift	5 >> 1 â†’ 2

6.	Identity Operators
These operators are used to check the memory location of objects.
Operator	Description	Example
is	Checks if two variables point to the same object	x is y
is not	Checks if two variables do not point to the same object	x is not y

7.	Membership Operators
These operators are used to check if a value is a member of a sequence (like a list, tuple, or string).
Operator	Description	Example
in	Checks if a value is in a sequence	5 in [1, 2, 3, 4, 5] â†’ True
not in	Checks if a value is not in a sequence	5 not in [1, 2, 3, 4] â†’ True

Q5. Explain the concept of type casting in Python with examples?
Ans:- Type casting in Python refers to the conversion of one data type into another. This is often necessary when you need to perform operations between different types or when you want to ensure that data is in the correct format for processing. Python provides several built-in functions to facilitate type casting.
Types of Type Casting
1.	Implicit Type Casting (Automatic)
2.	Explicit Type Casting (Manual)
1. Implicit Type Casting
This occurs when Python automatically converts one data type to another. It typically happens when operations involve mixed data types, and Python promotes the smaller type to a larger type to prevent data loss.
Example:

In [15]:
# Implicit type casting
a = 5       # int
b = 2.5     # float

result = a + b  # int is automatically converted to float
print(result)    # Output: 7.5
print(type(result))  # Output: <class 'float'>

7.5
<class 'float'>

2. Explicit Type Casting
This occurs when you manually convert one data type to another using built-in functions. Common functions for type casting include:
â€¢	int(): Converts to an integer
â€¢	float(): Converts to a float
â€¢	str(): Converts to a string
â€¢	list(): Converts to a list
â€¢	tuple(): Converts to a tuple
Examples:

In [16]:
#Converting to Integer:

x = 10.7
y = int(x)  # Converts float to int
print(y)    # Output: 10
print(type(y))  # Output: <class 'int'>

10
<class 'int'>

In [17]:
#Converting to Float:

a = "3.14"
b = float(a)  # Converts string to float
print(b)      # Output: 3.14
print(type(b))  # Output: <class 'float'>

3.14
<class 'float'>

In [18]:
#Converting to String:

num = 100
str_num = str(num)  # Converts int to string
print(str_num)      # Output: "100"
print(type(str_num))  # Output: <class 'str'>

100
<class 'str'>

In [19]:
#Converting to List:
my_tuple = (1, 2, 3)
my_list = list(my_tuple)  # Converts tuple to list
print(my_list)             # Output: [1, 2, 3]
print(type(my_list))       # Output: <class 'list'>

[1, 2, 3]
<class 'list'>

In [20]:
#Converting to Tuple:
my_list = [1, 2, 3]
my_tuple = tuple(my_list)  # Converts list to tuple
print(my_tuple)             # Output: (1, 2, 3)
print(type(my_tuple))       # Output: <class 'tuple'>

(1, 2, 3)
<class 'tuple'>

Q6. How do conditional statements work in Python? Illustrate with examples.
Ans:-  Conditional statements in Python allow you to execute certain blocks of code based on specific conditions. The primary conditional statements are if, elif, and else. Here's how they work, along with examples:
1. The if Statement
The if statement evaluates a condition and executes a block of code if the condition is True.
Example:

In [21]:
age = 20

if age >= 18:
 	   print("You are an adult.")

You are an adult.

2. The else Statement
The else statement provides an alternative block of code that executes if the if condition is False.
Example:

In [22]:
age = 16

if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

You are a minor.

3. The elif Statement
The elif (short for "else if") statement allows you to check multiple conditions sequentially. If the first if condition is False, it checks the elif conditions in order.
Example:

In [23]:
age = 18

if age < 13:
    print("You are a child.")
elif age < 18:
    print("You are a teenager.")
else:
    print("You are an adult.")

You are an adult.

4. Combining Conditions
You can combine multiple conditions using logical operators (and, or, not).
Example:

In [24]:
age = 20
is_student = True

if age < 18:
    print("You are a minor.")
elif age >= 18 and is_student:
    print("You are an adult student.")
else:
    print("You are an adult.")

You are an adult student.

Here, since age is 20 and is_student is True, the output will be "You are an adult student."

Nested Conditional Statements
You can also nest conditional statements within each other.
Example:

In [25]:
age = 25
is_employee = True

if age >= 18:
    print("You are an adult.")
    if is_employee:
        print("You are also an employee.")
    else:
        print("You are not an employee.")

You are an adult.
You are also an employee.

Q7. Describe the different types of loops in Python and their use cases with examples.
Ans:-  In Python, loops are used to execute a block of code repeatedly based on a specified condition or over a sequence. The two primary types of loops in Python are for loops and while loops. Hereâ€™s a detailed overview of each, along with examples and common use cases.
1.	For Loop
The for loop iterates over a sequence (like a list, tuple, dictionary, set, or string) and executes a block of code for each item in the sequence.
Syntax:
for variable in sequence:
    # Code to execute
Example:

In [26]:
# Iterating over a list
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

Use Cases:
â€¢	Iterating over elements in a list, tuple, or set.
â€¢	Accessing keys and values in a dictionary.
â€¢	Processing characters in a string.

2.	While Loop
The while loop repeatedly executes a block of code as long as a specified condition is True.
Syntax:
while condition:
    # Code to execute
Example:

In [27]:
# Counting down from 5
count = 5

while count > 0:
    print(count)
    count -= 1  # Decrementing count

5
4
3
2
1

Use Cases:
â€¢	When the number of iterations is not known in advance.
â€¢	Continuously executing code until a certain condition is met (e.g., waiting for user input).

3.	Nested Loops
You can nest loops within each other. This is useful for working with multi-dimensional data structures, like lists of lists.
Example:

In [28]:
# Nested for loop
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for row in matrix:
    for num in row:
        print(num, end=' ')
    print()  # Newline for the next row

1 2 3
4 5 6
7 8 9

4.	Loop Control Statements
Python also provides control statements that allow you to modify the loop's behavior:
â€¢	break: Exits the loop prematurely.
â€¢	continue: Skips the current iteration and continues with the next.
â€¢	pass: Does nothing (used as a placeholder).
Examples:

In [30]:
#Using break:
for num in range(10):
    if num == 5:
        break  # Exit loop when num is 5
    print(num)

0
1
2
3
4

In [33]:
#Using continue:

for num in range(5):
    if num == 2:
        continue  # Skip the iteration when num is 2
    print(num)

0
1
3
4

In [32]:
#Using pass:
for num in range(3):
    if num == 1:
        pass  # Placeholder for future code
    print(num)

0
1
2